<div class="row">
	<div id="filtre-line-1-col-2" class="col-12">
		<div class="form-group">
			<label for="client" class="text-center">Liste des clients</label>
				<select id="filtre-client" class="change form-control" name="client" multiple="multiple">
					{% for client in context.clients %}
					<option value="{{client.id}}"
						{% if context.idsclients is defined %}
							{% if client.id in context.idsclients %}
								selected="selected"
							{% endif %}
						{% endif %}
						>{{client.client}}</option>
					{% endfor %}
				</select>
		 </div>
	</div>
</div>
