{% extends 'base.html.twig' %}

{% block title %}

	Inventaire 

{% endblock %}


{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{asset('bundles/bootstrap/css/bootstrap.min.css')}}"></link>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{asset('bundles/jquery/jquery.min.js')}}"></script>
	<script type="text/javascript" src="{{asset('bundles/bootstrap/js/bootstrap.min.js')}}"></script>
{% endblock %}

{% block body %}

<div class="wrapper">
		{% include 'base/header.html.twig' %}
		{% include 'base/menu.html.twig' %}
		<div class="row">
			<aside class="col-2">
				{% include 'base/aside.html.twig' %}
			</aside>
			<section class='col-10'>
				{% include partial %}
			</section>
		</div>
</div>

{% endblock %}
